<div class="card">
  <div class="card-header">
    <div class="float-start">{{title}}</div>
    <div class="float-end">Posted By {{user.name}} on {{format_date date_created}}</div>
  </div>
  <div class="card-body">
    <p>{{content}}</p>
    <a href="/post/{{id}}" class="stretched-link"></a>
  </div>
</div>