{{!-- the post --}}
<div class="card" data-id="{{post.id}}" id="post-card">
  <div class="card-header">
    <div class="float-start">{{post.title}}</div>
    <div class="float-end">Posted By {{post.user.name}} on {{format_date post.updatedAt}}</div>
  </div>
  <div class="card-body">
    <p>{{post.content}}</p>
  </div>
</div>

{{!-- update button and update form --}}
<div class="d-none" data-id="{{logged_in_username}}" id="buttons-div">
  <button type="button" data-id="{{post.user.name}}" class="btn btn-info d-none" id="update-button">Update Post</button>
  <div class="updatepost-card d-none" id="updatepost-card">
  <form class="updatepost-form">
    <div class="form-group">
      <label for="update-content">Update Your Post</label>
      <textarea class="form-control" id="update-content" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" id="close-update">Close</button>
  </form>
</div>
</div>

{{!-- comment cards if there are any --}}
{{#if post.comments}}
{{#each post.comments as |comment|}}
{{> comments}}
{{/each}}
{{/if}}

{{!-- comment form --}}
<div class="addcomment-card">
  <form class="addcomment-form">
    <div class="form-group">
      <label for="comment-content">Add a Comment</label>
      <textarea class="form-control" id="comment-content" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/js/createComment.js"></script>